#marriage {
  background: url("../images/hero.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
}
#marriage h2 {
  font-size: 65px;
  margin-top: 17px;
}
@media only screen and (max-width: 800px) {
  #marriage h2 {
    font-size: 30px;
    margin-top: 38px;
  }
}
#marriage button {
  display: block;
  margin: 30px auto 160px auto;
  padding-left: 40px;
  padding-right: 40px;
}
#marriage i {
  bottom: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 42px;
}
@media only screen and (max-width: 600px) {
  #marriage i {
    display: none;
  }
}
#names {
  fill: #fff;
  position: relative;
  top: 50px;
  width: 47%;
}
