#story img {
  display: block;
  margin: 25px auto;
  max-width: 400px;
}
#story h1 {
  color: type-blue;
  margin-bottom: 35px;
}
#story h3 {
  margin: auto;
  margin-bottom: 25px;
  text-indent: -999999px;
}
