h1 {
  font-size: 45px;
  font-family: "coquette", fantasy;
  margin-bottom: 25px;
  padding: 0 78px;
  position: relative;
  text-align: center;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
p,
em {
  font-family: "minion-pro", serif;
}
p {
  color: type-blue;
  line-height: 27px;
}
p span,
p a {
  font-weight: 600;
}
i.filigree {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  display: inline-block;
  height: 27px;
  width: 70px;
}
@media only screen and (max-width: 738px) {
  i.filigree {
    display: none;
  }
}
i.filigree.left {
  background-image: url("../images/icons-retina/h1-filigree-left.png");
  margin-right: 20px;
}
i.filigree.right {
  background-image: url("../images/icons-retina/h1-filigree-right.png");
  margin-left: 20px;
}
