#marriage
  background: url('../images/hero.jpg') no-repeat center center
  background-size: cover
  color: white

  h2
    font-size: 65px
    margin-top: 17px

  button
    display: block
    margin: 30px auto 160px auto
    padding-left: 40px
    padding-right: 40px

  i
    margin-top: 160px
    margin-bottom: 20px

#names
  fill: white
  position: relative
  top: 50px
  width: 47%
