@import 'nib/vendor'

backface-visibility()
  -webkit-backface-visibility: hidden
  -moz-backface-visibility:    hidden
  -ms-backface-visibility:     hidden

button-border(color)
  border: 3px solid color

image($image, width, height)
  $image-retina  = "../images/icons-retina/"
  $image-type    = ".png"

  $image-path-retina  = $image-retina + $image + $image-type

  background-image: url($image-path-retina)
  background-repeat: no-repeat
  background-position: center center
  width: unit(width, px)
  max-width: 100%
  height: unit(height, px)
  background-size: 100% 100%

transition($prop, $time, $func)
  transition-property($prop)
  transition-duration($time)
  transition-timing-function($func)
