#party
  .arrow
    border-width: 2px
    &.next:before
      position: relative
      left: 2px
  nav
    &.gender
      width: 380px
      border: 2px solid button-blue
      border-radius: 3px
      margin: auto
      button
        width: 50%
        cursor: pointer
        float: left
        border: none
        text-transform: uppercase
        border-radius: 0
        color: button-blue
        &.active
          color: white
          background: button-blue
      +below(420px)
        width: 90%
        button
          width: 100%

    &.person
      z-index: 38
      button
        border-color: idk-pink
        color: idk-pink
        opacity: 1
        text-align: center
        position: absolute
        top: 50%
        margin-top: -20px
        +below(630px)
          top: 0
          margin-top: 100px
        &.last
          left: 20px
        &.next
          right: 20px
  .party
    display: none
    position: relative
    &.active
      display: block
    .people
      max-width: 85%
      margin: auto

      li
        display: none
        position: relative
        top: 25px
        margin-bottom: 50px
        &.active
          display: block

        .description
          position: relative
          top: 25px
          margin-bottom: 50px
        +below(3)
          img
            width: 235px!important
            margin: auto
            display: block
            float: none
        h3, span
          color: type-blue
        h3
          font-size: 35px
          display: inline-block
          margin-right: 15px
        span
          font-size: 13px
          letter-spacing: 1px
          text-transform: uppercase
        p
          margin-top: 35px
          line-height: 25px
    .faces
      width: 50%
      margin: auto
      +below(3)
        width: 95%
      img
        cursor: pointer
        float: left
        padding: 0 10px
        width: 25%
