#registry
  .container
    max-width: 1020px
  p, li
    text-align: center
  li i
    display: block
    margin: auto
    margin-bottom: 50px
    &.donovan
      image("registry-donovan", 235, 80)
      margin-top: 40px
    &.macys
      image("registry-macys", 235, 65)
      margin-top: 60px
