#rsvp

  .container
    max-width: 1038px

  p
    font-size: 15px
    text-align: center
    span, a
      color: type-blue
      font-family: primary-font
      text-decoration: none

  .attendants span
    line-height: 35px

  .response
    color: type-blue
    font-family: "Source Sans Pro", sans-serif
    text-align: center
    &.success
      font-size: 25px
      font-weight: 700
      line-height: 37px
      margin-bottom: 50px
    &.failure
      color: #f68e69
      margin-bottom: 20px
