#rsvp

  .container
    max-width: 1038px

  p
    font-size: 15px
    text-align: center
    span, a
      color: type-blue
      font-family: primary-font
      text-decoration: none

  .attendants span
    line-height: 35px
