#story
  background: url(../images/bg-tile.jpg)
  padding: 5% 0

  img
    margin-top: 25px

  h1
    color: type-blue
    margin-bottom: 35px
  h3
    margin: auto
    text-indent: -999999px
    &.groom
      image("ribbon-groom", 298, 78)
    &.bride
      image("ribbon-bride", 298, 78)
